header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px;
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}

#about a {
  display: inline-block;
  margin-right: 10px;
}

#projects li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input[type="submit"] {
  width: 100%;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 20px;
}
